span.cls_002{font-family:Arial,serif;font-size:58.0px;color:rgb(177,181,210);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:58.0px;color:rgb(177,181,210);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:15.1px;color:rgb(184,188,215);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:15.1px;color:rgb(184,188,215);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:15.1px;color:rgb(132,142,183);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:15.1px;color:rgb(132,142,183);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:25.1px;color:rgb(31,59,113);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:25.1px;color:rgb(31,59,113);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:10.1px;color:rgb(31,59,113);font-weight:bolder;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:10.1px;color:rgb(31,59,113);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(82,99,150);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(82,99,150);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:10.1px;color:rgb(82,99,150);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:10.1px;color:rgb(82,99,150);font-weight:normal;font-style:italic;text-decoration: none}

span.cls_009{font-family: sans-serif; font-size:19px;color:rgb(254,255,255);font-weight:bold; position: relative; top: 10px; font-style:normal;text-decoration: none}

/* Class for section B/C*/

span.cls_BC{font-family: sans-serif; font-size:19px;color:rgb(254,255,255);font-weight:bold; position: relative; top: inherit; font-style:normal;text-decoration: none}

 /*Class for Section C/B*/
span.cls_CB{font-family: sans-serif; font-size:19px;color:rgb(254,255,255);font-weight:bold; position: relative; top: 4px; font-style:normal;text-decoration: none}

span.cls_secb{font-family: sans-serif; font-size:19.1px;color:rgb(254,255,255);font-weight:bold; position: relative;  
	font-style:normal;text-decoration: none}
div.cls_secb{font-family:sans-serif;font-size:19.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}

div.cls_009{font-family:Arial,serif;font-size:25.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:10.1px;color:rgb(137,137,137);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:10.1px;color:rgb(137,137,137);font-weight:normal;font-style:normal;text-decoration: none}

span.cls_012{font-family:Arial,serif;font-size:20.1px;color:rgb(31,59,113);font-weight:bolder;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:20.1px;color:rgb(31,59,113);font-weight:bold;font-style:normal;text-decoration: none}

span.cls_013{font-family:Arial,serif;font-size:3.0px;color:rgb(137,137,137);font-weight:normal;font-style:normal;text-decoration: none}

div.cls_013{font-family:Arial,serif;font-size:4.0px;color:rgb(137,137,137);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:8.1px;color:rgb(31,59,113);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:8.1px;color:rgb(31,59,113);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:8.1px;color:rgb(82,99,150);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:8.1px;color:rgb(82,99,150);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:Arial,serif;font-size:10.1px;color:rgb(103,116,164);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_016{font-family:Arial,serif;font-size:10.1px;color:rgb(103,116,164);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:Arial,serif;font-size:9.1px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_017{font-family:Arial,serif;font-size:9.1px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}